/* div."class" same as #"id" */

#header{
    background-color: rgb(6, 97, 171);
    color: white;
    height: 150px;
}

#logo{
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}

#fi{
    width: 110px
    
}

div.bookmarkbar{
    color: white;
    position: static;
    top: 5px;
    left: 220px;
    right: 0;
    width: auto;
    line-height: 1.3em;
    padding-right: 0.5em;
    border: black;
    background-color: rgb(6, 97, 171);

}

#topblackline{
    position: static; 
    border-top: 1px solid black;
    border: 1px solid black;
}


h1{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#silo{
    background-color: rgb(97, 97, 97);
    margin-left: 0px;
    padding: 0px;
    margin: 5px;
}

.dropbtn {
    background-color: rgb(97, 97, 97);
    color: white;
    width: 150px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(97, 97, 97);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    overflow: hidden;
    border-top: 10px solid gray;
    display: inline-block;
}

#power{
    padding: 0px;
}

#home{
    color: white;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}

#middle{
    height: 50px;
}

#classname{
    font-weight: bold;
}

#arrow{
    margin-left: 10px;
}

#sidebar{
    background-color: rgb(42,39,39);
    color: white;
    text-align: center;
    display: inline-block;
}

#im{
    text-align: right;
}
#content{
    display: inline-block;
}
#resource{
    border-style: double;
}
#bottom{
    display: inline-block;
}

div.content{
    border: 2px solid black;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 5px;
    width: 350px;
}